.article-preview {
  width: 941px;
  height: 140px;
  background: #ffffff;
  border-radius: 5px;
  margin-bottom: 26px;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  box-sizing: border-box;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}
