.header {
  width: 1440px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 16px 22px;
  background-color: #ffffff;
  align-items: center;
  font-size: 18px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.85);

  &-name {
    color: rgba(0, 0, 0, 0.85);
  }

  &-buttons {
    display: flex;
    align-items: center;
  }

  &-user {
    margin-left: 27px;

    a {
      display: flex;
      align-items: center;
      font-size: 18px;
      line-height: 28px;
      color: rgba(0, 0, 0, 0.85);
    }

    img {
      width: 46px;
      height: 46px;
      margin-left: 13px;
    }
  }

  &-button {
    background-color: white;
    border: none;
    font-family: 'Inter UI', sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    padding: 8px 14px;

    &--sign-in {
      color: inherit;
      box-sizing: content-box;
      margin-right: 18px;
      border-radius: 5px;
      padding: 10px 16px;

      &:hover {
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.85);
      }
    }

    &--sign-up {
      border: 1px solid #52c41a;
      border-radius: 5px;
      color: #52c41a;

      &:hover {
        color: #ffffff;
        background-color: #52c41a;
      }
    }

    &--log-out {
      border: 1px solid rgba(0, 0, 0, 0.75);
      border-radius: 5px;
      color: rgba(0, 0, 0, 0.75);
      margin-left: 27px;

      &:hover {
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.75);
      }
    }

    &--create-article {
      border: 1px solid #52c41a;
      border-radius: 5px;
      color: #52c41a;

      &:hover {
        color: #ffffff;
        background-color: #52c41a;
      }
    }
  }
}

.auth {
  &__error {
    font-size: 14px;
    line-height: 22px;
    color: #f5222d;
  }

  &__success {
    font-size: 14px;
    line-height: 22px;
    color: #52c41a;
  }
}
